<ng-container *ngIf="(lobbyService.users$ | async) ?? [] as users">
  <ng-container>
    <p-divider align="center" styleClass="divider divider--first">
      {{ "Participants" | uppercase }} ({{ users.length }})
    </p-divider>

    <div class="relative flex-1">
      <div *ngIf="users.length; else noUser" class="absolute inset-0 flex flex-col gap-3 overflow-y-auto">
        <pp-avatar *ngFor="let user of users" [user]="user"></pp-avatar>
      </div>
    </div>
  </ng-container>
</ng-container>

<p-divider align="center" styleClass="divider">{{ "Paramètres" | uppercase }}</p-divider>

<div class="menu__settings">
  <div class="flex items-center gap-4 mt-1">
    <p-toggleButton
      *ngIf="icon$ | async as icon"
      [onIcon]="icon.on"
      [offIcon]="icon.off"
      iconPos="single"
      (click)="switchTheme$$.next()"
    ></p-toggleButton>

    <p>Thème {{ themeLabel$ | async }}</p>
  </div>
</div>

<ng-template #noUser>
  <p class="p-text-secondary text-sm italic">Aucun utilisateur connecté</p>
</ng-template>
