<ng-container *ngIf="users$ | async as users">
  <ng-container *ngIf="users.length">
    <p-divider align="center" styleClass="divider divider--first">{{ "Participants" | uppercase }}</p-divider>

    <div class="relative flex-1">
      <div class="absolute inset-0 flex flex-col gap-3 overflow-y-auto">
        <pp-avatar *ngFor="let user of users" [user]="user"></pp-avatar>
      </div>
    </div>
  </ng-container>
</ng-container>

<p-divider align="center" styleClass="divider">{{ "Paramètres" | uppercase }}</p-divider>

<div class="menu__settings">
  <div class="flex items-center gap-4 mt-1">
    <p-toggleButton [onIcon]="ICON.MOON" [offIcon]="ICON.SUN" iconPos="single" (click)="switchTheme()"></p-toggleButton>

    <p>Thème {{ theme ?? "clair" }}</p>
  </div>
</div>
