<p-divider align="center" styleClass="divider divider--first">{{ "Participants" | uppercase }}</p-divider>

<div class="relative flex-1">
  <div class="absolute inset-0 flex flex-col gap-3 overflow-y-auto">
    <pp-avatar [user]="{ name: 'Lucas', color: { r: 255, g: 46, b: 123 } }"></pp-avatar>

    <pp-avatar [user]="{ name: 'Bruno Andriamiarina', color: { r: 25, g: 146, b: 23 } }"></pp-avatar>
  </div>
</div>

<p-divider align="center" styleClass="divider">{{ "Paramètres" | uppercase }}</p-divider>

<div class="menu__settings">
  <div class="flex items-center gap-4 mt-1">
    <p-toggleButton [onIcon]="ICON.MOON" [offIcon]="ICON.SUN" iconPos="single" (click)="switchTheme()"></p-toggleButton>

    <p>Thème {{ theme ?? "clair" }}</p>
  </div>
</div>
