<p-confirmDialog class="absolute" rejectButtonStyleClass="p-button-text" acceptIcon="" rejectIcon=""></p-confirmDialog>

<ng-container *ngIf="lobbyService.usersLength$ | async as usersLength">
  <p-chip *ngIf="!!usersLength" [icon]="ICON.CHECK" [label]="(voteCount$ | async) + ' / ' + usersLength"></p-chip>
</ng-container>

<div class="flex-1 flex items-center">
  <div class="grid grid-cols-fit-4 sm:grid-cols-fit-5 md:grid-cols-fit-6 auto-rows-fr gap-6 sm:gap-8 md:gap-10">
    <pp-poker-card
      *ngFor="let card of cards"
      [points]="card.points"
      [selected]="card.selected"
      (click)="selectCard(card.points)"
      (keydown.enter)="selectCard(card.points)"
    ></pp-poker-card>
  </div>
</div>

<p-button
  *ngIf="userService.isHost$ | async"
  styleClass="w-full"
  label="Terminer"
  [disabled]="!points"
  (onClick)="requestVoteCompletion()"
></p-button>
