<p-card header="Tout le monde t'attend !">
  <div class="p-inputgroup">
    <input type="text" pInputText [formControl]="lobbyIdCtrl" />

    <button
      pButton
      pRipple
      [icon]="ICON.PASTE"
      (click)="pasteLobbyId()"
    ></button>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end">
      <button
        pButton
        pRipple
        class="p-button-sm"
        label="Rejoindre"
        [icon]="ICON.JOIN"
        iconPos="right"
      ></button>
    </div>
  </ng-template>
</p-card>
