<p-card header="Tout le monde t'attend !">
  <div class="p-inputgroup">
    <input id="lobbyId" type="text" pInputText [formControl]="lobbyIdCtrl" placeholder="ID du salon" />

    <button pButton pRipple [icon]="ICON.PASTE" (click)="pasteLobbyId()"></button>
  </div>

  <small *ngIf="lobbyIdCtrl.invalid && lobbyIdCtrl.touched" class="p-error">
    <span *ngIf="lobbyIdCtrl.hasError('required')"> Tu n'as pas renseigné de salon </span>

    <span *ngIf="lobbyIdCtrl.hasError('pattern')"> L'id du salon est incorrect </span>
  </small>

  <ng-template pTemplate="footer">
    <div class="flex justify-end">
      <button pButton pRipple label="Rejoindre" [icon]="ICON.JOIN" iconPos="right" (click)="joinLobby()"></button>
    </div>
  </ng-template>
</p-card>
