<p-card header="Quel est ton pseudo ?">
  <div class="flex flex-col">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i [class]="ICON.USER"></i></span>

      <input
        type="text"
        pInputText
        placeholder="Pseudo"
        [formControl]="pseudoCtrl"
      />
    </div>

    <small *ngIf="pseudoCtrl.touched && pseudoCtrl.invalid" class="p-error">
      Comment savoir qui tu es ?
    </small>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end">
      <button
        pButton
        pRipple
        class="p-button-sm"
        label="Continuer"
        [icon]="ICON.ARROW_RIGHT"
        iconPos="right"
        (click)="confirmPseudo()"
      ></button>
    </div>
  </ng-template>
</p-card>
