:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-2) var(--size-4);
  background: var(--surface-overlay);
  border-bottom: 1px solid var(--surface-d);

  ::ng-deep .p-sidebar {
    &-right {
      width: auto !important;
      min-width: 15rem;
    }

    &-content {
      height: 100%;
    }
  }
}

.header {
  &__logo {
    width: 28px;
    height: 100%;
    background: var(--primary-color);
    mask: url(/favicon.svg) no-repeat center / contain;
  }

  &__title {
    font-size: 1.5rem;
  }
}
