:host {
  display: flex;
  justify-content: center;
}

.poker-card {
  width: 100%;
  aspect-ratio: 6/9;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  outline: none;
  transition: all 0.15s ease-in-out;
  user-select: none;

  &:not(&--disabled) {
    cursor: pointer;
  }

  &--disabled {
    filter: opacity(0.7) grayscale(1);

    &,
    img {
      transform: scale(0.9);
    }
  }

  &--selected {
    position: relative;
    background: var(--primary-color);

    &::after {
      content: "";
      position: absolute;
      display: block;
      border: 3px solid var(--surface-ground);
      border-radius: 4px;
      inset: 0;
    }

    img {
      background: var(--surface-ground) !important;
    }
  }

  :is(&:hover, &:focus-visible):not(&--disabled) {
    transform: scale(1.1);
  }

  img {
    background: var(--primary-color);
    width: 100%;
    height: 20%;
  }
}
