<p-card [header]="(initHeader$ | async)!">
  <div class="flex justify-center">
    <div class="flex flex-col gap-8 w-auto">
      <button
        pButton
        pRipple
        [icon]="ICON.CREATE"
        iconPos="right"
        label="Créer un salon"
        routerLink="/lobby/create"
      ></button>

      <button
        pButton
        pRipple
        [icon]="ICON.JOIN"
        iconPos="right"
        label="Rejoindre un salon"
        routerLink="/lobby/join"
      ></button>
    </div>
  </div>
</p-card>
